In [1]:
import pandas as pd

In [2]:
pd_data = pd.read_csv('cleaned_pd_data.csv', parse_dates=['FirstSubmissionTime', 'LastSubmissionTime'])
pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2301 entries, 0 to 2300
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   brand                 2301 non-null   object
 1   pd_id                 2301 non-null   object
 2   Name                  2301 non-null   object
 3   Description           2301 non-null   object
 4   AverageOverallRating  2301 non-null   float64
 5   FirstSubmissionTime   2301 non-null   datetime64[ns]
 6   LastSubmissionTime    2301 non-null   datetime64[ns]
 7   Age_35to44            2301 non-null   float64
 8   Age_18to24            2301 non-null   float64
 9   Age_25to34            2301 non-null   float64
 10  Age_45to54            2301 non-null   float64
 11  Age_over54            2301 non-null   float64
 12  Age_13to17            2301 non-null   float64
 13  category              2301 non-null   object
 14  love_count            2301 non-null   float64
 15  reviews_count         2301 non-null   float64
 16  Price                 2301 non-null   float64
 17  category_1            2301 non-null   object
 18  category_2            1765 non-null   object
 19  category_3            1598 non-null   object
 20  size_oz               1378 non-null   float64
 21  size_mL               1034 non-null   float64
 22  size_g                254 non-null    float64
dtypes: datetime64[ns](2), float64(13), object(8)
memory usage: 413.6+ KB

In [3]:
pd_df = pd_data[['pd_id', 'brand', 'Name', 'Description', 'AverageOverallRating', 
                 'love_count', 'reviews_count', 'Price', 
                 'category_1', 'category_2', 'category_3', 
                 'FirstSubmissionTime', 'LastSubmissionTime']]

In [4]:
review_data = pd.read_csv('../codes/data/review_data.csv')
review_data.sample(5)

,pd_id,AuthorId,Rating,Title,ReviewText,Helpfulness,SubmissionTime,IsRecommended,eyeColor,hairColor,skinTone,skinType
1697388,P448102,7217523659,5,Best perfume ever,So captivating! This perfume is so amazing. It...,1.0,2020-02-13T15:20:53.000+00:00,True,brown,brunette,deep,oily
975590,P270706,1387463626,5,The real deal,Got samples twice! I was so excited. This bran...,0.0,2013-03-09T05:09:45.000+00:00,NaN,NaN,NaN,NaN,NaN
646944,P276800,1725484812,5,The best. Enough said.,The only disappointment is the low variety of ...,NaN,2016-06-08T04:28:50.000+00:00,NaN,NaN,NaN,NaN,NaN
277799,P302940,5506624694,3,"Adequate, but nothing special","I like the warming sensation on my skin, but I...",1.0,2016-01-08T04:36:18.000+00:00,NaN,NaN,NaN,NaN,NaN
834861,P384954,6774680041,5,My favorite lipsticks!,"I have Lolita, Lolita II, and Bow n Arrow. The...",NaN,2016-04-29T10:02:41.000+00:00,NaN,brown,NaN,light,NaN

In [5]:
review_data.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1707681 entries, 0 to 1707680
Data columns (total 12 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   pd_id           1707681 non-null  object
 1   AuthorId        1707681 non-null  object
 2   Rating          1707681 non-null  int64
 3   Title           1308947 non-null  object
 4   ReviewText      1703884 non-null  object
 5   Helpfulness     617569 non-null   float64
 6   SubmissionTime  1707681 non-null  object
 7   IsRecommended   901976 non-null   object
 8   eyeColor        1136860 non-null  object
 9   hairColor       871463 non-null   object
 10  skinTone        1210807 non-null  object
 11  skinType        1047584 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 156.3+ MB

In [6]:
remove_na = review_data.loc[~review_data['ReviewText'].isna()].copy()
remove_na['Helpfulness'] = remove_na['Helpfulness'].fillna(0)
remove_na['IsRecommended'] = remove_na['IsRecommended'].fillna('False')
remove_na['Title'] = remove_na['Title'].fillna('No Title')
remove_na['SubmissionTime'] = pd.to_datetime(remove_na['SubmissionTime'], 
                                             format='%Y-%m-%dT%H:%M:%S.000+00:00')
remove_na.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1703884 entries, 0 to 1707680
Data columns (total 12 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   pd_id           1703884 non-null  object
 1   AuthorId        1703884 non-null  object
 2   Rating          1703884 non-null  int64
 3   Title           1703884 non-null  object
 4   ReviewText      1703884 non-null  object
 5   Helpfulness     1703884 non-null  float64
 6   SubmissionTime  1703884 non-null  datetime64[ns]
 7   IsRecommended   1703884 non-null  object
 8   eyeColor        1133246 non-null  object
 9   hairColor       867803 non-null   object
 10  skinTone        1207121 non-null  object
 11  skinType        1043915 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(9)
memory usage: 169.0+ MB

In [7]:
clean_review_data = pd.merge(pd_df, remove_na, on='pd_id')
clean_review_data.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1364686 entries, 0 to 1364685
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   pd_id                 1364686 non-null  object
 1   brand                 1364686 non-null  object
 2   Name                  1364686 non-null  object
 3   Description           1364686 non-null  object
 4   AverageOverallRating  1364686 non-null  float64
 5   love_count            1364686 non-null  float64
 6   reviews_count         1364686 non-null  float64
 7   Price                 1364686 non-null  float64
 8   category_1            1364686 non-null  object
 9   category_2            1006831 non-null  object
 10  category_3            957356 non-null   object
 11  FirstSubmissionTime   1364686 non-null  datetime64[ns]
 12  LastSubmissionTime    1364686 non-null  datetime64[ns]
 13  AuthorId              1364686 non-null  object
 14  Rating                1364686 non-null  int64
 15  Title                 1364686 non-null  object
 16  ReviewText            1364686 non-null  object
 17  Helpfulness           1364686 non-null  float64
 18  SubmissionTime        1364686 non-null  datetime64[ns]
 19  IsRecommended         1364686 non-null  object
 20  eyeColor              897237 non-null   object
 21  hairColor             665796 non-null   object
 22  skinTone              960812 non-null   object
 23  skinType              816669 non-null   object
dtypes: datetime64[ns](3), float64(5), int64(1), object(15)
memory usage: 260.3+ MB

In [8]:
clean_review_data.to_csv('cleaned_review_data.csv', index=False)